.light {
    /* colors */
    --bg-contrast: #ffffff;
    --bg-primary: #e6e6e6;
    --bg-secondary: #9f9f9f;
    --fg-contrast: #000000;
    --fg-primary: #0d0d0d;
    --fg-secondary: #121212;
    --border-primary: #616161;

    /* shadows */
    --shadow-color: rgba(13, 13, 13, 0.2);
}

.dark {
    /* colors */
    --bg-contrast: #000000;
    --bg-primary: #0d0d0d;
    --bg-secondary: #121212;
    --fg-contrast: #ffffff;
    --fg-primary: #e6e6e6;
    --fg-secondary: #9f9f9f;
    --border-primary: #464646;

    /* shadows */
    --shadow-color: rgba(192, 192, 192, 0.2);
}