.button {
    --bg-color: transparent;
    --bg-hover: var(--bg-color);
    --bg-active: var(--bg-hover);
    --text-color: currentColor;

    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.2s ease, color 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
    .button:hover {
        background-color: var(--bg-hover);
    }
}

.button:active {
    background-color: var(--bg-active);
    transform: scale(0.96);
    transition: 0.1s ease-out;
}

.pressed {
    transform: scale(0.96);
    background-color: var(--bg-active);
    transition: 0.1s ease;
}

.filled.contrast {
    --bg-color: var(--fg-contrast);
    --bg-hover: color-mix(in srgb, var(--fg-contrast) 90%, var(--bg-contrast));
    --bg-active: color-mix(in srgb, var(--fg-contrast) 80%, var(--bg-contrast));
    --text-color: var(--bg-contrast);
}

.filled.primary {
    --bg-color: var(--fg-primary);
    --bg-hover: color-mix(in srgb, var(--fg-primary) 90%, var(--bg-contrast));
    --bg-active: color-mix(in srgb, var(--fg-primary) 80%, var(--bg-contrast));
    --text-color: var(--bg-primary);
}

.filled.secondary {
    --bg-color: var(--fg-secondary);
    --bg-hover: color-mix(in srgb, var(--fg-secondary) 90%, var(--bg-contrast));
    --bg-active: color-mix(in srgb, var(--fg-secondary) 80%, var(--bg-contrast));
    --text-color: var(--bg-secondary);
}

.outline.contrast {
    --text-color: var(--fg-contrast);
    border: solid 2px var(--fg-contrast);
}

.outline.primary {
    --text-color: var(--fg-primary);
    border: solid 2px var(--fg-primary);
}

.outline.secondary {
    --text-color: var(--fg-secondary);
    border: solid 2px var(--fg-secondary);
}

.xs {
    padding: 4px 8px;
    --text-size: 12px;
    --text-weight: 400;
}

.sm {
    padding: 4px 12px;
    --text-size: 14px;
    --text-weight: 400;
}

.md {
    padding: 8px 16px;
    --text-size: 16px;
    --text-weight: 400;
}

.lg {
    padding: 12px 20px;
    --text-size: 18px;
    --text-weight: 400;
}

.xl {
    padding: 12px 24px;
    --text-size: 20px;
    --text-weight: 400;
}

.rxs {
    border-radius: 0.1em;
}

.rsm {
    border-radius: 0.1em;
}

.rmd {
    border-radius: 0.2em;
}

.rlg {
    border-radius: 0.4em;
}

.rxl {
    border-radius: 0.5em;
}

.rfull {
    border-radius: 100%;
}

.text {
    color: var(--text-color);
    font-size: var(--text-size);
    font-weight: var(--text-weight);
}